<?xml version="1.0" encoding="UTF-8"?>
<config name="Accelerator">
  <component name="Test">
    <pv name="MAJOR">
      <description>MAJOR</description>
      <enabled>true</enabled>
      <latching>true</latching>
      <annunciating>true</annunciating>
    </pv>
    <pv name="MINOR">
      <description>MINOR(test)</description>
      <enabled>true</enabled>
      <latching>true</latching>
      <annunciating>true</annunciating>
    </pv>
    <component name="Node">
    </component>
    <component name="Node2">
    </component>
    <pv name="OK">
      <description>OK</description>
      <enabled>true</enabled>
      <latching>true</latching>
      <annunciating>true</annunciating>
    </pv>
    <pv name="test1">
      <description>test1</description>
      <enabled>true</enabled>
      <latching>true</latching>
      <annunciating>true</annunciating>
    </pv>
    <pv name="test2">
      <description>test2</description>
      <enabled>true</enabled>
      <latching>true</latching>
      <annunciating>true</annunciating>
    </pv>
  </component>
</config>
